.container {
  max-width: 955px;
  /* background-color: red; */
  border: 2px solid black;
  margin: auto;
  height: 60vh;
  padding: 33px;
  overflow-y: auto;
  margin-bottom: 23px;
}
.message {
  background-color: grey;
  width: 24%;
  padding: 10px;
  margin: 17px 12px;
  border: 2px solid ☐ black;
  border-radius: 10px;
}

.left {
  float: left;
  clear: both;
}

.right {
  float: right;
  clear: both;
}
body{
    background-image: linear-gradient(rgb(65, 124, 244),rgb(195, 195, 224));
}

#send-container{
display:block;
margin: auto;
text-align: center;
max-width: 985px;
width: 100%;
}
#messageInp{
width: 92%;
border: 2px solid ☐ black;
border-radius: 6px;
height: 34px;
}
.btn{
cursor: pointer;
border: 2px solid ☐ black;
border-radius: 6px;

height: 34px;}
h1{
  text-align: center;
}

@media screen and (max-width: 450px) {

.message{
  background-color: rgb(226, 229, 231);
  width: auto;
}
#messageInp{
  width: 82%;
}
}
@media screen and (max-width: 736px) {
  #messageInp{
    width: 86%;
  }
}

